header{
    height: 62px;
    width: 100%;
    background-color: #08366e;
    line-height: 60px;
    // padding: 0px 0px 0px 47px
    // position: fixed;
} 

.about{
    margin-left: 35px;
    color: white;
    text-decoration: none;
}
.project{
    margin-left: 35px;
    color: white;
    text-decoration: none;
}
.contact{
    margin-left: 30px;
    color: white;
    text-decoration: none;
}
.home{
    color: white;
    text-decoration: none;
}
.home:hover{
    background-color: aqua;
}
.headbar{
    float: right;
    padding-left: 10px;
}
h2{
    margin: 0 auto;
    position: absolute;
    color: white;
}
