<footer>
<ul id="footer">
    <li>
        <a class="foot" href="#header">HOME</a>
    </li>
    <li>
           <a class="foot" href="#about">ABOUT</a> 
    </li>
    <li> 
        <a class="foot" href="#header">PROJECT</a>
    </li>
    <li>
        <a class="foot" href="#footer">CONTACT</a>
    </li>
</ul>
     <p>
        Contact Me
    </p>
    <div>
        <img href="./../../assets/—Pngtree—github logo icon_8630451.png">
</div>
<div class="socialicons">
   <a href="https://github.com/"> <i class="fa-brands fa-github"></i></a>
   <a href=""> <i class="fa-brands fa-linkedin"></i></a>
   <a href="mailto:thamuthamu478@gmail.com"> <i class="fa-regular fa-envelope"></i></a>
   <a href="https://www.instagram.com/mr.thamu/"> <i class="fa-brands fa-instagram"></i></a>
</div>
<p class="cright">
    Copyright © 2023 - All right reserved.
</p>
</footer>