<h2 class="about-mobile-h2">ABOUT ME</h2>
<section class="aboutMe-sec">
    
    <aside id="about" class="about">
        <h2 class="about-desktop-h2"> ABOUT ME</h2><br>
        <p class="p2">
            A dedicated Front-end Developer based in <br>Tamilnadu, India. 📍
        </p><br>
        <p class="detail">
            As a front-end developer, my goal is to create user-friendly and <br>visually engaging websites 
            and applications that provide a <br>seamless user experience. I aim to stay up-to-date 
            with the latest<br> web technologies and design trends. Through my work, I strive to <br>
            contribute to the world and to continuously grow and refine my <br>skills as a
            front-end developer
        </p>
        </aside>
    <div class="image-div">
      <img class="study" src="./../../assets/self_study-removebg-preview.png">
    </div>
</section>