article{
    height: 600px;
    width: 100%;
    background-color: #093264;
    // line-height:20px ;
    color: white;
}
.image{
    height: 350px;
    width: 350px;
    border-radius: 212px;
    float: right;
    margin: 146px 130px 0px 0px;
}
h1{
    padding: 154px 0 0 23%;
    // line-height: 166px;
    display: inline-block;
    color: white;
    font-size: xxx-large;
}
h2{
    display: inline-block;
    color: white;
    margin: 0 0 0 143px;
}
.socialicons{
    display: flex;
    padding: 0 0 0 200px;
}
.socialicons a{
    width: 80px;
    height: 80px;
    text-align: center;
    text-decoration: none;
    color: #000;
    box-shadow: 0 0 20px 10px rgba(0,0,0,0.05);
    margin: 0 10px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    transition: transform 0.5s;
    background: aqua;
}
.socialicons a .fa-brands{
    font-size: 30px;
    line-height: 80px;
    position: relative;
    z-index: 10;
    transition: color 0.5s;
}
.socialicons a .fa-regular{
    font-size: 30px;
    line-height: 80px;
    position: relative;
    z-index: 10;
    transition: color 0.5s;
}
.socialicons a::after{
    content: '';
    width: 100%;
    height: 100%;
    top: -90px;
    left: 0;
    background: linear-gradient(-45deg,#ed1c94,#ffec17);
    position: absolute;
    transition: 0.5s;
}
.socialicons a:hover::after{
    top: 0;
}
.socialicons a:hover .fa-brands{
    color: #fff;
}
.socialicons a:hover .fa-regular{
    color: #fff;
}
.socialicons a:hover{
    transform: translateY(-10px);
}
.tech{
    height: 75px;
    width: 75px;
    margin-left: 30px;
    //box-shadow: 0 0 20px 10px;
    box-shadow: 0px 0px 14px 0px;
    border-radius: 50%; 
}
.exlens{
    //  display: inline;
     display: inline-block;
     padding: 9px 25px 0px 107px;
     font-size: 1.5em;
}
.skills{
    //    padding: 0 0 0 173px; 
       display: inline-block;
       display: flex;
}
.html{
    box-shadow: 0px 0px 14px 0px;
}
.img{
    height: 57px;
    width: 59px;
    padding: 7px;
}
.techblock{
    //padding: 0 10px 0 0;
    box-shadow: 0 0 10px 2px;
    border-radius: 35%;
    height: 70px;
    width: 70px;
    margin: 0 47px 0 0;
}
@media(min-width: 320px) and (max-width: 767px)
{
    .image{
        height: 250px;
        width: 250px;
        border-radius: 212px;
        margin: 15px 36px 0 0px;
    }
    h1{
        padding: 0px 0px 0px 45px;
        margin:0;
        font-size: 26px;
    }
    h2{
        margin: 7px 0px 0px 32px;
        font-size: 16px;
    }    
    .socialicons{
        margin: 0 auto;
        padding: 0;
        width: 90%;
    }
    .techblock{
        margin: 0 10px 0 0;
        height: 57px;
        width: 50px;
    }
    .exlens{
        padding: 0;
        font-size: 14px;
        font-weight: 700;
    }
    .img{
        height: 49px;
        width: 45px;
        padding: 3px
    }
    article{
        height: 700px;
    }
}










