<article id="main">
    <div>
        <img class="image" src="./../../assets/Photo Mine.jpg">
        <span><h1> Frontend Developer</h1></span>
  
        <h2>Hi, I'm Thamothiran A passionate Front-end Developer based in<br>
            Tamilnadu, India.</h2>
    </div>
    <div>
             <img href="./../../assets/—Pngtree—github logo icon_8630451.png">
    </div>
    <div class="socialicons">
        <a href="https://github.com/"> <i class="fa-brands fa-github"></i></a>
        <a href="www.linkedin.com/in/thamothiran-r-b36199283"> <i class="fa-brands fa-linkedin"></i></a>
        <a href="emailto:thamuthamu478@gmail.com"> <i class="fa-regular fa-envelope"></i></a>
        <a href="https://www.instagram.com/mr.thamu/"> <i class="fa-brands fa-instagram"></i></a>
    </div><br><br>
    
    
    <div class="skills">
        <div class="exlens">
            <p>Tech Exelence</p>
        </div>
        <div>
        <div class="techblock">
            <img class="img" src="./../../assets/new html.png"> 
        </div>
    </div>    
        <div class="techblock">
            <img class="img" src="./../../assets/css_logo-removebg-preview.png">
        </div>
       <div class="techblock">
        <img class="img" src="./../../assets/javascirpt.png">
       </div>
        <div class="techblock">
            <img class="img" src="./../../assets/angular.png">
        </div>  
    </div>
    <!-- <ul class="grid">
        <li><img class="techs" src="./../../assets/new html.png"> </li>
        <li><img class="techs" src="./../../assets/css_logo-removebg-preview.png"></li>
        <li><img class="techs" src="./../../assets/javascirpt.png"></li>
        <li> <img class="techs" src="./../../assets/angular.png"></li>
    </ul> -->
</article>
